*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 19, 19);
    color: rgb(236, 219, 219);
}

.kick-track, .snare-track, .hihat-track {
    display: flex;
    justify-content: space-between;
    margin: 5rem 7rem;
}
.kick,.snare,.hihat {
    display: flex;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-right: 8rem;
}
.controls button{
    border: none;
    padding: 0.5rem;
    font-size: larger;
    color: white;
    border-radius: 0.5rem;
    background:none;
    box-shadow: none;
}
/* once cliked, do not show highlighted border */
button:focus {
    outline: none;
    box-shadow: none;
}

i {
    cursor: pointer;
}

select{
    font-size: 0.9rem;
    padding: 0.5rem;
    background: none;
    color: white;
    border-width: 0.2rem;
}
/* once cliked, do not show highlighted border */
select:focus {
    outline: none;
    box-shadow: none;
}
.sequencer{
    align-content: center;
}

.pad {
    width: 4rem;
    height: 4rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.kick-pad{
    background-color: rgb(248, 187, 187);
}
.kick-pad.active{
    background-color: rgb(245, 112, 112);
}
.snare-pad{
    background-color: rgb(187, 247, 181);
}
.snare-pad.active{
    background-color: rgb(50, 189, 38);
}
.hihat-pad{
    background-color: rgb(189, 232, 252);
}
.hihat-pad.active{
    background-color: rgb(62, 188, 247);
}

#play-button{
    text-align: center;
}
#play-button button{
    padding: 0.7rem 1.2rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}